@model IEnumerable<MetiKala.Domain.Entities.User.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<form asp-action="Index">
    <input type="text" name="filter"/>
    <input type="submit" class="btn-outline-primary"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleTitle)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleTitle)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
