@model Tuple<List<MetiKala.Domain.Entities.Products.Product>,int>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                تصویر
            </th>
            <th>
               نام
            </th>
            <th>
              قیمت
            </th>


            <th>
             گروه اصلی
            </th>
            <th>
            گروه فرزند
            </th>
            <th>
           گروه پدر
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item1) {
        <tr>
            <td>
              <img src="~/products/ThumbImages/@item.Image"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentGroupe.GroupeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubGroupe.GroupeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandParentGroupe.GroupeTitle)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
